<body>
  <div align="center" class="search-box">
    <h1>Welcome to the Pokemon App</h1>
  </div align="center">

  <div align="center" class="poke-form">
    <p>Get started by searching for a Pokemon by the name or number:</p>
    <%= form_tag '/api/v1/pokemon', method: :get do %>
      <div align="center" class="poke-search">
        <%= text_field_tag :pokemon %>
        <%= submit_tag "Search" %>
      </div align="center">
    <% end %>
  </div align="center">
</body>